header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
        ul {
            list-style: none;
            display: flex;

            li {
                text-align: center;
                margin: 10px;
                font-size: larger;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    width: 100px;
                    text-decoration: none;
                    padding: 5px;
                    border: 1px solid black;
                    border-radius: 4px;
                    cursor: pointer;
                    color: black;
                }

                .active {
                    background-color: lightgray;
                    padding: 5px;
                    border-radius: 4px;
                }
            }
        }
    }
}