.sort-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.sort-label {
    font-size: 16px;
    color: #333;
}

.sort-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
}

.sort-select:hover {
    border-color: #aaa;
    background-color: #eaeaea;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 20px;

    .car-container {
        display: flex;
        align-items: center;
        border: 1px solid black;
        width: 30%;
        margin: 10px;
        position: relative;

        .car-content {
            flex: 1;
            padding-left: 20px;
            font-size: 20px;

            .isAvailable {
                color: green;
            }

            .notAvailable {
                display: none;
            }
        }

        img {
            height: 100px;
            width: auto;
        }

        .operations {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .rent-button,
            .return-button {
                padding: 8px 15px;
                border: none;
                border-radius: 5px;
                font-size: 14px;
                cursor: pointer;
                transition: background-color 0.3s, color 0.3s;
            }

            .rent-button {
                background-color: #3498db;
                color: white;
            }

            .return-button {
                background-color: #e74c3c;
                color: white;
            }

            .rent-button:hover,
            .return-button:hover {
                background-color: #2980b9;
            }
        }
    }
}