.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 30px;

    .car-container {
        display: flex;
        align-items: center;
        border: 1px solid black;
        width: 30%;
        margin: 10px;
        position: relative; 

        .car-content {
            flex: 1; 
            padding-left: 20px; 
            font-size: 20px;

            .isAvailable {
                color: green;
            }

            .notAvailable {
                display: none;
            }
        }

        img {
            height: 100px;
            width: auto;
        }
    }
}