// .container {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-evenly;
//     padding-top: 20px;

//     .car-container {
//         border: 1px solid black;
//         width: 500px;
//         // margin to separate the borders in a column
//         margin: 20px;
//         text-align: center;
//     }

//     img {
//         height: 100px;
//         width: auto;
//     }
// }

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 30px;

    .car-container {
        display: flex;
        align-items: center;
        border: 1px solid black;
        width: 30%;
        margin: 10px;
        position: relative; /* Add this to enable positioning */

        .car-content {
            flex: 1; /* Let the content take up available space */
            padding-left: 20px; /* Offset the text from the left side */
            font-size: 20px;

            .isAvailable {
                color: green;
            }

            .notAvailable {
                display: none;
            }
        }

        img {
            height: 100px;
            width: auto;
        }
    }
}